body {
	background: #321;
	width: 100%;
	margin: 0;
}

p, #cheat {
	color: #def;
	font-family: Consolas;
	margin: 10px;
	padding-bottom: 10px;
}

h1, h2, h3 {
	color: #cde;
	font-family: Consolas;
	text-transform: uppercase;
	margin: 0px;
}

table {
	border-width: 2px;
	border-style: solid;
	border-color: #ccc;
	background: #999;
	table-layout: fixed;
	margin-top: -10px;
	margin-bottom: -10px;
}

button{
	background-color: #dd2244;
	border: none;
	color: #def;
	font-family: Consolas;
	text-align: center;
	font-size: 18px;
	border-radius: 10px;
	display: inline-block;
	margin: 2px;
	margin-left: 20px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #432;
	min-width: 360px;
	box-shadow: 0px 8px 16px 0px rgba(0.1,0.1,0.1,0.3);
	padding: 12px 16px;
	z-index: 1;
	border-style: solid;
	border-width: 2px;
	border-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

tr {
	border-color: #ccc;
}

td {
	border-color: #ccc;
	text-align: center;
	border-radius: 4px;

	background-repeat: no-repeat;
	background-position: center;
}

div#content{
	margin: 0% 10%;
	border-width: 1px;
	border-color: #ccc;
}

div#bottomButtons{
	margin: auto;
}

td.notInPlay{
	background: #542;
}

td.unvisited {
	background: #646;
	background-image: url("../img/taco.png");
	background-size: cover;
}

@keyframes superbackground {
	0% {background-color: red;}
	50% {background-color: orange;}
	100% {background-color: red;}
}

@keyframes rocketbackground {
	0% {background-color: aqua;}
	50% {background-color: blue;}
	100% {background-color: aqua;}
}

@keyframes movetobackground{
	50% {background-color:green;}
}

@keyframes cantmovetobackground {
	50% {background-color:pink;}
}

@keyframes playerbackground {
	0% {background-color: black}
	50% {background-color: white}
	100% {background-color: grey}

}
@media screen{
	.super {
		animation-name: superbackground;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
	}
	.rocket {
		animation-name: rocketbackground;
		animation-duration: 0.3s;
		animation-iteration-count: infinite;
	}

	.moveto {
		animation-name: movetobackground;
		animation-duration: 0.7s;
		animation-iteration-count: infinite;
	}
	.cantmoveto {
		animation-name: cantmovetobackground;
		animation-duration: 0.7s;
		animation-iteration-count: infinite;
	}

	td.player {
		animation-name: playerbackground;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation: hoovering 2s linear infinite;
	}
}
.super{
	background: red !important;
	background-image: url("../img/supertaco.png") !important;
	background-size: cover !important;
}

td.visited {
	background: #737;
	background-image: url("../img/poop.png");
	background-size: cover;
}

.rocket{
	background: blue !important;
	background-image: url("../img/rocketburrito.png") !important;
	background-size: cover !important;
}

td.player {
	background: #646;
	background-image: url("../img/player.png") !important;
	background-size: cover;
}

#cheat {
	font-color: white;
}

@keyframes itemshadow {

}

@keyframes hoovering {
	0% {background-position: 0px -5px;}
	50% {background-position: 0px 10px;}
	100% {background-position: 0px -5px;}
}

.player.visited.unvisited {
	animation: hoovering 1s linear infinite;
}
